body {
    background: #d1d1d1 url(img/bg.png) repeat-x;
    text-align:center;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, Tahoma;
    font-size: 10pt;
    counter-reset: section
}
#container {
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#banner_downloads {
    background: url(../images/banner/downloads.jpg);
    height:300px;
}
#banner_news {
    background: url(../images/banner/news.jpg);
    height:300px;
}
#banner_documentation {
    background: url(../images/banner/documentation.jpg);
    height:300px;
}
#banner_development {
    background: url(../images/banner/development.jpg);
    height:300px;
}
#banner_features {
    background: url(../images/banner/features.jpg);
    height:300px;
}
#banner_news {
    background: url(../images/banner/news.jpg);
    height:300px;
}

#content {
    background: #fff;
    padding: 20px;
    margin: 0;
}
h1 {
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    color: #777777;
    counter-reset: sub-section;
}
h2, h3, h4 {
    padding-top: 10px;
    padding-left:10px;
}
div.bannertitle {
    font-size: 14pt;
    font-weight: bold;
    padding-top: 10px;
    padding-left:10px;
}
h2{
    counter-reset: composite;
}
h3{
    counter-reset: detail
}

h1.doc:before{
    counter-increment: section;
    content: counter(section) ". ";
}
h2.doc:before{
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) ". ";
}
h3.doc:before{
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) ". ";
}
h4.doc:before{
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) ". ";
}

div.newsbanner {
    font-size: 25pt;
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
    color: #fff;
}
#menu {
    background: #1C2E37;
    float: left;
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}
#menu li {
    float: left;
    font: 12pt Verdana, Tahoma, Serif;
    margin: 0;
    padding: 0;
}
#menu li.db {
    float: right;
    font: 10pt Verdana, Tahoma, Serif;
    margin: 0;
    padding: 0;
}
#menu a {
    background: #1C2E37;
    color: #ccc;
    display: block;
    float: left;
    margin: 0;
    padding: 15px 25px;
    text-decoration: none;
}
#menu a:hover {
    background: #375A5C;
    color: #fff;
    padding-bottom: 15px;
}
#footer {
    padding: 10px;
    text-align:center;
    color: #A2A2A2;
    height: 50px;
    background: #1C2E37;
}
p {
    /*padding-left: 50px;
    color:#000;*/
    padding-left: 20px;
    color: #000;
}
p.banner {
    padding-left:10px;
    color: #fff;
}
a.banner {
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
}
a.banner:hover {
    text-decoration: underline;
}
div.extrasmall {
    font-size: 7pt;
}
div.column {
    float:left;
    width:130px;
    height:140px;
}
div.downloadbutton {
    background: url(../images/download-button.png);
    background-repeat: no-repeat;
    width: 167px;
    height: 100px;
    float:right;
    margin: 10px;
    color: #fff;
}
div.download {
    margin-left:55px;
    margin-top:7px;
    font-weight: bold;
}
#downloadlink {
    margin-left: 55px;
    font-size: 9pt;
}
#downloadlink a {
    text-decoration: none;
    color: #fff;
}
#downloadlink a:hover {
    text-decoration: underline;
    color: #fff;
}
table#downloads{
    width:600px;
}
div.newsdate {
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    -moz-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    -o-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    padding: 4px;
    background: #ff0000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4B6A7D), color-stop(100%, #1C2E37));
    background-image: -moz-linear-gradient(top, #4B6A7D 0%, #1C2E37 100%);
    background-image: linear-gradient(top, #4B6A7D 0%, #1C2E37 100%);
    font-variant: small-caps;
    color: #fff;
    font-size:10pt;
    font-weight:bold;
    width:60px;
    height: 20px;
    text-align:center;
}
div.newsdate2 {
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    -moz-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    -o-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    padding: 4px;
    color: #000;
    font-size:20pt;
    font-weight: bold;
    width:60px;
    height: 30px;
    text-align:center;
}
div.newstitle {
    font-size: 18pt;
    margin-bottom: 5px;
}
div.news {
    width: 800px;
}
form {
    margin-bottom: 20px;
    background: #eee;
}
pre {
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin-left:10px;
    background: #ccc;
}
table {
    border-collapse: collapse;
}
th {
    background: #E5E5E5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, white), color-stop(100%, #E5E5E5));
    background-image: -moz-linear-gradient(top, white 0%, #E5E5E5 100%);
    background-image: linear-gradient(top, white 0%, #E5E5E5 100%);
    text-shadow: white 0 1px 0;
    text-align: left;
    padding: 10px;
    font-weight:bold;
    color:#4A4A4A;
}
td {
    border-bottom: solid 1px #ddd;
    padding: 5px;
}
td.tdright {
    text-align: right;
}
img {
    border: 0;
}
ol.slider1Image, ul.slider1Image {
    list-style: none;
}
#slider1 {
    width: 860px;/*720px;*/ /* important to be same as image width */
    height: 300px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
}
#slider1Content {
    width: 860px;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}
.slider1Image {
    float: left;
    position: relative;
    display: none;
}
.slider1Image span {
    position: absolute;
    font-family: Arial;
    font-size: 12pt;
    padding: 10px 13px;
    width: 860px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
    clear: both;
}

.left {
    top: 0;
    left: 0;
    width: 200px !important;
    height: 280px;
}
.right {
    right: 0;
    bottom: 0;
    width: 200px !important;
    height: 283px;
}
.screenshot {
    float: left;
    margin: 0 20px 20px 0;
    display:block;
    -moz-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    -o-box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    box-shadow:rgba(0, 0, 0, 1) 0 0 10px 0;
    width:178px;
    height:115px;
    overflow:hidden;
    border:4px solid white;
    margin-bottom:10px
}

#footer a {
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
a.footer1 {
    color: #fff;
}
li.footer {
    text-align: left;
    font-size: 8pt;
}
a.footer {
    color: #ccc;
}
img.thumb { width: 170px; }